<div ng-controller="pollsController as PC">
  <p>
    <a href="#/dashboard">Cancel</a>
  </p>
  <h3>Put the question and options here:</h3>
  <form name='loginForm'>
    <label>Question:</label><input type="text" name="question" ng-model="PC.new.question" required><br>
    <label>Option 1:</label><input type="text" name="option1" ng-model="PC.new.option1" required><br>
    <label>Option 2:</label><input type="text" name="option2" ng-model="PC.new.option2" required><br>
    <label>Option 3:</label><input type="text" name="option3" ng-model="PC.new.option3" required><br>
    <label>Option 4:</label><input type="text" name="option4" ng-model="PC.new.option4" required><br>
    <button ng-click="PC.create()">Create Poll</button>
  </form>
<p ng-repeat="errors in PC.errors">
  {{errors.options}}
</p>
</div>
