<div ng-controller="dashboardController as DC">
  <p>
    <a href="#/create">Create a New Poll</a> | <a href="/">Logout</a>
  </p>
  <h3>Current Polls</h3>
  <input type="text" ng-model="poll_filter" placeholder="search">
  <table>
    <thead>
      <th>
        Name
      </th>
      <th>
        Survey Question
      </th>
      <th>
        Date Posted
      </th>
      <th>
        Action
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="poll in DC.polls | filter:poll_filter | orderBy:'createdAt'">
        <td >
          <a href ng-click="DC.show(poll._id)">{{poll.name}}</a>
        </td>
        <td ng-bind="poll.question">
        </td>
        <td ng-bind="poll.createdAt  | date : format : timezone">
        </td>
        <td ng-if="poll.name == DC.activeUser.name" >
          <button ng-click="DC.destroy(poll._id)">Delete</button>
          <!-- <a href="#/destroy/{{poll._id}}"><button>Delete</button></a> -->


        </td>
      </tr>
    </tbody>
  </table>

</div>
