<div ng-controller="pollsController as PC">
  <p>
    <a href="#/dashboard">Go to Polls</a> | <a href="/">Logout</a>
  </p>
  <h3>{{PC.current_poll.question}}</h3>
  <p>
    Click the Vote button to choose one.
  </p>
  <table>
    <thead>
      <th>
        Option
      </th>
      <th>
        Current Count of Votes
      </th>
      <th>
        Action
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="option in PC.current_poll.options">
        <td ng-bind="option.text"></td>
        <td ng-bind="option.votes"></td>
        <td>
          <button ng-click="PC.vote(PC.current_poll._id,option._id)">Vote</button></a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
